.horizontal-layout-3 .main-panel {
  max-width: unset;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

h1 {
  text-shadow: 0.2em 0.5em 0.1em #200844,
}

.main-panel {
  position: relative;
  width: 100%;
  min-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("../img/flights2.jpg");
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.content {
  padding: 0 !important;
  min-height: calc(100% - 123px);
  margin-top: 123px;
  overflow: hidden;
}

.mt--5, .my--5 {
  margin-top: -0rem !important;
}

.pb-5, .py-5 {
  padding-bottom: 20rem !important;
}

.pt-4, .py-4 {
  padding-top: 1.5rem !important;
}

@media (min-width: 992px) .page-inner {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) .page-inner {
  padding-right: 1rem;
  padding-left: 1rem;
}

.page-inner {
  padding: 1.5rem 0;
}

.mt--3, .my--3 {
  margin-top: -1rem !important;
}

@media (min-width: 768px) .col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) .col-md-6 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.card, .card-light {
  border-radius: 5px;
  max-width: 600px;
  background-color: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
  -moz-box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
  box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, .1);
  border: 0;
}

@media (max-width: 800px) {
  .card {
    max-width: 325px;
  }
}

@media (min-width: 450px) {
  .card {
    max-width: 750px;
  }
}

.card .card-body, .card-light .card-body {
  padding: 1.25rem;
}

.card-title {
  margin: 0;
  color: #575962;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

.card-title {
  margin-bottom: .75rem;
}

.text-center {
  text-align: center !important;
}

.p-3 {
  padding: 1rem !important;
}

.justify-content-center {
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

@media only screen and (max-width: 959px) and (min-width: 600px) .headline-form .wInputThree, .beneficiary-form .wInputThree, .payment-form .wInputThree, .voluntary-form .wInputThree {
  width: calc((100% / 2) - 18px) !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  background-color: #fff !important;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}