footer {
  color: #fff !important;
  background: #200844 !important;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 40px 0 !important;
}

footer div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title {
  font-weight: bold;
  color: #ff1c53
}

.color-pink {
  color: #ff1c53
}

.ulTest2 {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.ulTestMenu {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr;
}

.ulTest {
  list-style: none;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-rows: 1fr 1fr 1fr;
}

.circleTest {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulTest li {
  text-align: left;
}

footer div ul li a {
  color: #eee;
}

@media (max-width: 599px) and (min-width: 0px) {
  .ulTest li {
    text-align: center;
  }

  footer {
    text-align: center;
  }

  footer div {
    padding: 20px 0;
    grid-template-columns: 1fr;
  }
}