* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "AvenirNext", "Open Sans", sans-serif !important;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  font-size: 14px;
  padding-bottom: 10px;
  box-shadow: 0 1px 0 0 #e6ebf1 !important;
}

.main-nav {
  list-style-type: none;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #200844;
  font-family: "Poppins";
  font-weight: bold;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #ff1c53;
  }
}