.column2 {
  float: left;
  padding: 0 10px;
}

.row2 {
  margin: 0 -5px;
}

p h3 {
  padding: 10px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}