body {
  padding: 0;
  margin: 0;
}

footer,
header {
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  color: #200844 !important;
  font-size: 16px !important;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  color: #200844;
  font-weight: 400;
  font-size: 1rem;
  white-space: nowrap;
}

.buttonTransition,
.primary-button,
.primary-button-outline {
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.buttonTransitionHover,
.primary-button:hover,
.primary-button-outline:hover {
  -webkit-transition: background-color 0.1s 0.5s, color 0.1s 0.5s;
  transition: background-color 0.1s 0.5s, color 0.1s 0.5s;
  -webkit-animation: anim-moema-1 0.5s forwards;
  animation: anim-moema-1 0.5s forwards;
}

.buttonTransitionBefore,
.primary-button::before,
.primary-button-outline::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 4px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}

.buttonTransitionHoverBefore,
.primary-button:hover::before,
.primary-button-outline:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}

.globalButton,
.primary-button {
  font-size: 16px;
  border-radius: 4px;
  border: 0;
  font-weight: bold;
  font-family: "Poppins", "Open Sans", sans-serif;
  position: relative;
  cursor: pointer;
}

.primary-button {
  width: 214px;
  height: 60px;
  color: #fff;
  box-shadow: 0 10px 16px 0 rgba(251, 49, 74, 0.16);
  background: linear-gradient(106deg, #f7553b 0%, #fa4343 53%, #ff2152);
}
.primary-button:disabled {
  background: #e6ebf1 !important;
  box-shadow: none;
}

.primary-button-outline {
  width: 188px;
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 2px;
  background: transparent;
  color: #fb314a;
  border: solid 1px #fb314a;
  position: relative;
  cursor: pointer;
}
.primary-button-outline:hover {
  color: #fff;
  background: #fb314a;
}

.primary-button-nav {
  width: 88px;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  background-color: #ffe7ea;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  color: #fb314a;
}
.primary-button-nav:hover {
  color: #fff;
  background: #fb314a;
}

.primaryButton {
  color: #fff !important;
  background-color: #fb314a !important;
  font-size: 15px !important;
  text-transform: capitalize !important;
  padding: 4px 22px !important;
  border: 1px solid #fb314a !important;
  border-radius: 4px !important;
}
.primaryButton:hover {
  background: #f25136 !important;
  border: 1px solid #f25136 !important;
  color: #ffffff !important;
}

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media only screen and (max-width: 599px) {
  .primary-button,
  .secondary-button {
    padding: 0 10px;
    width: 160px;
  }
}

@media only screen and (max-width: 599px) {
  .buttonTransitionBefore,
  .primary-button::before,
  .secondary-button::before,
  .primary-button-outline::before,
  .white-button-outline::before,
  .footer-button::before {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #3c3c3c;
}

li {
  list-style-type: none;
}
li:focus {
  outline: none !important;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
button:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.content {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/*solución con flex*/
body,
html {
  height: 100%;
}

.App {
  min-height: 100vh;
  position: relative;
  top: 0;
  height: 100vh;
}
